<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ person?.name }} Details</ion-title>
    <ion-button (click)="goToFavourites()" slot="end" fill="clear">
      <ion-icon color="danger" name="heart-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="goHome()" slot="secondary" fill="clear">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="goNewMovies()" slot="primary" fill="clear">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="person">
    <img *ngIf="person.profile_path" [src]="'https://image.tmdb.org/t/p/w300' + person.profile_path"
      class="person-img">
    <p *ngIf="!person?.profile_path">
      <i>No image</i>
    </p>

    <ion-card-header>
      <ion-card-title>
        {{ person.name }}

        <span *ngIf="person.also_known_as?.length">
          AKA {{ person.also_known_as?.[0] }}
        </span>
      </ion-card-title>
      <ion-card-subtitle *ngIf="person?.birthday">{{ person.birthday }} <span *ngIf="person?.deathday">to {{
          person.deathday }}</span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ person.biography }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Other Works</ion-card-title>
    </ion-card-header>

    <ion-list lines="full">
      <ion-item *ngFor="let m of movies" button="true" (click)="openMovie(m)">
        <ion-label slot="start">
          {{ m.title }}
        </ion-label>

        <ion-img slot="end" *ngIf="m.poster_path" [src]="'https://image.tmdb.org/t/p/w200' + m.poster_path">
        </ion-img>
        <p slot="end" *ngIf="!m.poster_path">
          <i>No image</i>
        </p>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>