<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Movies</ion-title>

    <ion-button (click)="goToFavourites()" slot="end" fill="clear">
      <ion-icon color="danger" name="heart-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="goHome()" slot="start" fill="clear">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="goNewMovies()" slot="primary" fill="clear">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="goWatchlist()" slot="secondary" fill="clear">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3>{{ keyword | titlecase }} Movies</h3>

  <ion-card *ngFor="let movie of movies">
    <img alt="Movie poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" (click)="openMovie(movie)"/>
    <ion-card-header>
      <ion-card-title>{{ movie?.title }}</ion-card-title>
      <ion-card-subtitle>{{ movie?.release_date }}</ion-card-subtitle>
      {{ movie?.overview }}
    </ion-card-header>
    
    <ion-card-content>
      <ion-button (click)="toggleFavourite(movie)">
        <ion-icon [name]="isFavourite(movie) ? 'heart' : 'heart-outline'"></ion-icon>
        {{ isFavourite(movie) ? 'Unfavourite' : 'Favourite' }}
      </ion-button>

      <ion-button (click)="openMovie(movie)">
         View Details
      </ion-button>

      <ion-button (click)="toggleWatchlist(movie)">
        <ion-icon [name]="isInWatchlist(movie) ? 'bookmark' : 'bookmark-outline'"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>