<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ movie?.title }}</ion-title>
    <ion-button (click)="goToFavourites()" slot="end" fill="clear">
      <ion-icon color="danger" name="heart-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="goHome()" slot="secondary" fill="clear">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Movie overview -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ movie?.title }}</ion-card-title>
      <ion-card-subtitle>{{ movie?.release_date }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ movie?.overview }}
    </ion-card-content>
    <ion-button (click)="toggleFavourite(movie)" class="fav-button">
      <ion-icon class="fav-icon" [name]="isFavourite(movie) ? 'heart' : 'heart-outline'"></ion-icon>
      {{ buttonText(movie) }}
    </ion-button>
  </ion-card>


  <!-- Cast information -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cast</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let c of cast" button="true" (click)="openPerson(c)">
          <img alt="Headshot image" [src]="'https://image.tmdb.org/t/p/w200/' + c.profile_path" />
          <ion-label>
            <h2>{{ c.name }} as {{ c.character }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Crew information -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crew</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let c of crew" button="true" (click)="openPerson(c)">
          <img alt="Headshot image" [src]="'https://image.tmdb.org/t/p/w200/' + c.profile_path" />
          <ion-label>
            <h2>{{ c.name }}, {{ c.job }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>