<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Movie Details</ion-title>
    <ion-button (click)="goToFavourites()" slot="end" fill="clear">
      <ion-icon color="danger" name="heart-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="goHome()" slot="secondary" fill="clear">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">movie-details</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
