<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
      <ion-button (click)="goHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Upcoming Movies</ion-title>

    <ion-buttons slot="end">
      
      <ion-button (click)="goWatchlist()">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="goToFavourites()">
        <ion-icon color="danger" name="heart-outline"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let movie of movies">
    <img alt="Movie poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" (click)="openMovie(movie)"/>
    <ion-card-header>
      <ion-card-title>{{ movie?.title }}</ion-card-title>
      <ion-card-subtitle>{{ movie?.release_date }}</ion-card-subtitle>
      {{ movie?.overview }}
    </ion-card-header>
    
    <ion-card-content>

      <ion-button (click)="toggleFavourite(movie)">
        <ion-icon [name]="isFavourite(movie) ? 'heart' : 'heart-outline'"></ion-icon>
        {{ isFavourite(movie) ? 'Unfavourite' : 'Favourite' }}
      </ion-button>

      <ion-button (click)="openMovie(movie)">
         View Details
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>