<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Favourite Movies</ion-title>
    <ion-button (click)="goHome()" slot="end" fill="clear">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text *ngIf="favourites.length === 0">
    <h1>No favourites added yet.</h1>
  </ion-text>

  <ion-card *ngFor="let movie of favourites">
    <img (click)="openMovie(movie)" alt="Movie poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" />
    <ion-card-header>
      <ion-card-title (click)="openMovie(movie)">{{movie.title}}</ion-card-title>
      <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
      <ion-button (click)="toggleFavourite(movie)">
        <ion-icon name='heart'></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      {{movie.overview}}
    </ion-card-content>
  </ion-card>
</ion-content>
