<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{studentNum}}
    </ion-title>
    <ion-button slot="end" fill="clear">
      <ion-icon color="danger" name="heart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Search" placeholder="Enter movie name" [(ngModel)]="keyword"></ion-input>
  <ion-button (click)="searchMovies()" expand="block" shape="round">Search</ion-button>

  <ion-card *ngFor="let movie of movies">
    <img alt="Movie poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" />
    <ion-card-header>
      <ion-card-title>{{movie.title}}</ion-card-title>
      <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{movie.overview}}
    </ion-card-content>
  </ion-card>
</ion-content>